*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 500vh;
    font-family: 'Barlow', sans-serif;
}
button, i{
    cursor: pointer;
}
.yurist__back {
    width: 100%;
    padding: 250px 100px;
    background-image: url(../img/yurist\ \(3\).JPG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.yurist__general {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.yurist__title {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}
.yurist__text {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.yurist__btn {
    padding: 15px;
    font-size: 15px;
    background-color: rgb(104, 77, 77);
    border-radius: 10px;
    border: none;
    color: #fff;
}




.yurist2__title {
    margin: 50px 0 50px 5% ;
    font-size: 30px;
    color: rgb(6, 6, 27);
}
.yurist2__general {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.yurist2__box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    gap: 10px;
    width: 25%;
    cursor: pointer;
}
.bx-book {
    font-size: 50px;
    color: rgb(6, 6, 27);
}
.yurist2__subject {
    color: rgb(6, 6, 27);
    font-size: 20px;
}
.price{
    padding: 30px 10px;
    border-radius: 20px;
    background-color: rgb(6, 6, 27);  
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    border: 4px solid #fff;
}
.price:hover{
    background-color: #fff;
    border: 4px solid rgb(6, 6, 27);
    color: rgb(6, 6, 27);
}
.modal__window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c0;
    display: none;
}
.show{
    display: block;
}
.modal__box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    gap: 20px;
    padding: 50px;
    position: relative;
}
.subject2 {
    width: 100%;
    color: #fff;
}
.yurist2__x{
    position: absolute;
    top: 3%;
    right: -3%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


.yurist3__general {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.yurist3__box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
}
.yurist3__subject {
    font-size: 25px;
    color: rgb(6, 6, 27);
    margin-bottom: 10px;
    margin-top: 20px;
}
.yurist3__span {
    font-size: 20px;
    color: rgb(6, 6, 27);
    margin-bottom: 10px;
    font-weight: 700;
}
.yurist3__text {
    font-size: 18px;
    color: rgb(6, 6, 27);
    width: 50%;
}
.yurist3__img{
    width: 20%;
    border-radius: 20px;
}




.yurist4__general {
    display: flex;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.yurist4__text {
    color: rgb(6, 6, 27);
    width: 33%;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1px;
    font-weight: 600;
}
.yurist4__box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    background-color: rgb(6, 6, 27);
    border-radius: 20px;
}
.yurist4__subject {
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
}
.yurist4__label {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.bx-phone, .bx-user, .bx-location {
    font-size: 20px;
    color: #fff;
}
.yurist4__text2 {
    color: #fff;
    font-size: 15px;
}




.footer{
    background-color: rgb(6, 6, 27);
    margin-top: 50px;
}
.footer__nav {
    width: 90%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.footer__logo {
    font-size: 30px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.footer__item {
    font-size: 20px;
    color: #fff;
}
.footer__iconBox{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer__icon{
    color: #fff;
    font-size: 30px;
}




@media screen and (max-width: 1024px){
    .yurist3__img{
        width: 30%;
    }
}
@media screen and (max-width:900px){
    .yurist3__general{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .yurist3__box{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .yurist3__img{
        width: 90%;
        margin: 0 auto;
    }
    .yurist3__text{
        width: 100%;
    }
    .yurist4__general{
        display: flex;
        flex-direction: column;
    }
    .yurist4__box{
        width: 100%;
        text-align: center;
        justify-content: center;
        gap: 20px;
    }
    .yurist4__text{
        width: 100%;
        margin-bottom: 20px;
    }
    .yurist4__subject{
        margin: 0 auto;
    }
    .yurist4__label{
        margin: 0 auto;
    }
    .yurist__back{
        padding: 150px 50px;
    }
    .yurist__general{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .yurist__general{
        width: 100%;
        margin: 0 auto;
    }
    .price{
        padding: 30px 5px;
    }
    .yurist__back{
        padding: 150px 10px;
    }
}

@media screen and (max-width:600px){
    .footer__nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .yurist2__general{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .yurist2__box{
        width: 100%;
    }
    .price{
        width: 100%;
    }
    .yurist__title{
        font-size: 40px;
    }
    .yurist__text{
        width: 90%;
    }
    .yurist__back{
        padding: 150px 5px;
    }
}


@media screen and (max-width:420px){
    .yurist3__box{
        width: 100%;
    }
    .yurist__general{
        width: 100% !important;
        padding: 0;
    }
    .yurist__title{
        font-size: 25px;
        width: 100%;
        // white-space: nowrap;
        margin: 20px auto;
    }
    .yurist2__general{
        padding: 0;
    }
    .yurist4__general{
        width: 100%;
    }
    .yurist__text{
        font-size: 15px;
        width: 90%;
    }
    .yurist__btn{
        width: 100%;
        font-size: 12px;
        padding: 15px 10px;
        white-space: nowrap;
    }
}
@media screen and (max-width:360px){
    .yurist__general{
        width: 100%;
    }
}